<Defs>
  <XmlExtensions.SettingsMenuDef>
    <modId>runaway.simpletrans</modId>
    <label>Simple Trans</label>
    <settings>
      <li Class="XmlExtensions.Setting.Slider">
        <key>cisPercent</key>
        <label>Percent of population who are cisgender: {cisPercent}%</label>
        <defaultValue>90</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>debugMode</key>
        <label>Turn on Debug Mode</label>
        <defaultValue>false</defaultValue>
        <tooltip>If this is checked, more messages will be published to the log.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Transgender variations</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>transManCarryPercent</key>
        <label>Percent of trans men who can carry: {transManCarryPercent}% (the rest will be able to sire)</label>
        <defaultValue>75</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>transWomanSirePercent</key>
        <label>Percent of trans women who can sire: {transWomanSirePercent}% (the rest will be able to carry)</label>
        <defaultValue>75</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>transBothPercent</key>
        <label>Percent of trans people with both carry and sire abilities: {transBothPercent}% (checked first, before individual abilities)</label>
        <defaultValue>5</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>transNeitherPercent</key>
        <label>Percent of trans people with neither ability: {transNeitherPercent}% (checked second, before individual abilities)</label>
        <defaultValue>5</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Cisgender Variations</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>cisManCarryPercent</key>
        <label>Percent of cis men who can carry (intersex): {cisManCarryPercent}%</label>
        <defaultValue>1</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>cisWomanSirePercent</key>
        <label>Percent of cis women who can sire (intersex): {cisWomanSirePercent}%</label>
        <defaultValue>1</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>cisBothPercent</key>
        <label>Percent of cis people with both abilities (intersex): {cisBothPercent}%</label>
        <defaultValue>0</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Non-Binary Reproduction</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>enbyBothPercent</key>
        <label>Percent of non-binary people with both abilities: {enbyBothPercent}%</label>
        <defaultValue>10</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>enbyNeitherPercent</key>
        <label>Percent of non-binary people with no abilities: {enbyNeitherPercent}%</label>
        <defaultValue>15</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>enbyCarryPercent</key>
        <label>Percent of nonbinary people who can carry: {enbyCarryPercent}% (for single-ability non-binary pawns, the rest will be able to sire)</label>
        <defaultValue>50</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Sterilization Rates</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>carrySterilizationPercent</key>
        <label>Chance of carry sterilization: {carrySterilizationPercent}%</label>
        <defaultValue>3</defaultValue>
        <min>0</min>
        <max>25</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>sireSterilizationPercent</key>
        <label>Chance of sire sterilization: {sireSterilizationPercent}%</label>
        <defaultValue>3</defaultValue>
        <min>0</min>
        <max>25</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>reversibleSterilizationPercent</key>
        <label>Percent of sterilizations that are reversible: {reversibleSterilizationPercent}%</label>
        <defaultValue>60</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Prosthetic Rates</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>prostheticCarryPercent</key>
        <label>Chance of prosthetic carry organs: {prostheticCarryPercent}%</label>
        <defaultValue>2</defaultValue>
        <min>0</min>
        <max>25</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>prostheticSirePercent</key>
        <label>Chance of prosthetic sire organs: {prostheticSirePercent}%</label>
        <defaultValue>2</defaultValue>
        <min>0</min>
        <max>25</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Slider">
        <key>bionicUpgradePercent</key>
        <label>Chance that prosthetics are bionic instead of basic: {bionicUpgradePercent}%</label>
        <defaultValue>20</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Surgery System Options</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>enableOrganTransplants</key>
        <label>Enable organ transplant system</label>
        <defaultValue>true</defaultValue>
        <tooltip>Allows extraction and transplantation of reproductive organs between pawns.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>enableProsthetics</key>
        <label>Enable reproductive prosthetics</label>
        <defaultValue>true</defaultValue>
        <tooltip>Allows crafting and installation of basic and advanced reproductive prosthetics.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Mod Interactions</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>genesAreAgab</key>
        <label>Modded gender-only genes (for example, Vanilla Expanded Phytokin) are AGAB</label>
        <defaultValue>true</defaultValue>
        <tooltip>If this is checked, forced-gender genes will be considered sex, not gender. By default they are considered sex.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.ResetSettings" />
    </settings>
    <postCloseActions>
      <li Class="Simple_Trans.SimpleTransSettingsReloader" />
    </postCloseActions>
  </XmlExtensions.SettingsMenuDef>
</Defs>
