<Defs>
  <XmlExtensions.SettingsMenuDef>
    <modId>runaway.simpletrans</modId>
    <label>Simple Trans</label>
    <settings>
      <li Class="XmlExtensions.Setting.Slider">
        <key>cisPercent</key>
        <label>Percent of population who are cisgender: {cisPercent}%</label>
        <defaultValue>90</defaultValue>
        <min>0</min>
        <max>100</max>
        <decimals>0</decimals>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>debugMode</key>
        <label>Turn on Debug Mode</label>
        <defaultValue>false</defaultValue>
        <tooltip>If this is checked, more messages will be published to the log.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of trans men who can carry: {mCarryPercent}%</text>
            <keys>
              <li>mCarryPercent</li>
            </keys>
            <tooltip>The rest will be able to sire.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of trans women who can sire: {fSirePercent}%</text>
            <keys>
              <li>fSirePercent</li>
            </keys>
            <tooltip>The rest will be able to carry.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of trans people with both abilities: {transBothPercent}%</text>
            <keys>
              <li>transBothPercent</li>
            </keys>
            <tooltip>Overrides above settings when triggered.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of trans people with no abilities: {transNeitherPercent}%</text>
            <keys>
              <li>transNeitherPercent</li>
            </keys>
            <tooltip>Overrides above settings when triggered.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>mCarryPercent</key>
            <defaultValue>100</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>fSirePercent</key>
            <defaultValue>100</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>transBothPercent</key>
            <defaultValue>5</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>transNeitherPercent</key>
            <defaultValue>5</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Cisgender Variations</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of cis men who can carry: {cisMCarryPercent}%</text>
            <keys>
              <li>cisMCarryPercent</li>
            </keys>
            <tooltip>Rare intersex variation.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of cis women who can sire: {cisFSirePercent}%</text>
            <keys>
              <li>cisFSirePercent</li>
            </keys>
            <tooltip>Rare intersex variation.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of cis people with both abilities: {cisBothPercent}%</text>
            <keys>
              <li>cisBothPercent</li>
            </keys>
            <tooltip>Very rare intersex variation.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>cisMCarryPercent</key>
            <defaultValue>1</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>cisFSirePercent</key>
            <defaultValue>1</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>cisBothPercent</key>
            <defaultValue>0</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Mod Interactions</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>genesAreAgab</key>
        <label>Modded gender-only genes (for example, Vanilla Expanded Phytokin) are AGAB</label>
        <defaultValue>true</defaultValue>
        <tooltip>If this is checked, forced-gender genes will be considered sex, not gender. By default they are considered sex.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of nonbinary people who can carry: {nCarryPercent}%</text>
            <keys>
              <li>nCarryPercent</li>
            </keys>
            <tooltip>The rest will be able to sire. This has no effect if you don't have nonbinary people in your game.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>nCarryPercent</key>
            <defaultValue>50</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Non-Binary Reproduction</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of non-binary people with both abilities: {nBothPercent}%</text>
            <keys>
              <li>nBothPercent</li>
            </keys>
            <tooltip>Non-binary pawns who can both carry and sire children.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of non-binary people with no abilities: {nNeitherPercent}%</text>
            <keys>
              <li>nNeitherPercent</li>
            </keys>
            <tooltip>Non-binary pawns who cannot carry or sire children.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>nBothPercent</key>
            <defaultValue>10</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>nNeitherPercent</key>
            <defaultValue>15</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Sterilization Rates</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent chance of carry sterilization: {carrySterilizationPercent}%</text>
            <keys>
              <li>carrySterilizationPercent</li>
            </keys>
            <tooltip>Chance for any pawn to be sterilized for carrying pregnancies.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent chance of sire sterilization: {sireSterilizationPercent}%</text>
            <keys>
              <li>sireSterilizationPercent</li>
            </keys>
            <tooltip>Chance for any pawn to be sterilized for siring children.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent of sterilizations that are reversible: {reversibleSterilizationPercent}%</text>
            <keys>
              <li>reversibleSterilizationPercent</li>
            </keys>
            <tooltip>Chance for sterilization to be reversible vs permanent.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>carrySterilizationPercent</key>
            <defaultValue>3</defaultValue>
            <min>0</min>
            <max>25</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>sireSterilizationPercent</key>
            <defaultValue>3</defaultValue>
            <min>0</min>
            <max>25</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>reversibleSterilizationPercent</key>
            <defaultValue>60</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Prosthetic Rates</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent chance of prosthetic carry organs: {prostheticCarryPercent}%</text>
            <keys>
              <li>prostheticCarryPercent</li>
            </keys>
            <tooltip>Chance for any pawn to have prosthetic carry organs instead of natural.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent chance of prosthetic sire organs: {prostheticSirePercent}%</text>
            <keys>
              <li>prostheticSirePercent</li>
            </keys>
            <tooltip>Chance for any pawn to have prosthetic sire organs instead of natural.</tooltip>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>Percent chance prosthetics are bionic: {bionicUpgradePercent}%</text>
            <keys>
              <li>bionicUpgradePercent</li>
            </keys>
            <tooltip>Chance for prosthetics to be bionic instead of basic.</tooltip>
          </li>
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.Slider">
            <key>prostheticCarryPercent</key>
            <defaultValue>2</defaultValue>
            <min>0</min>
            <max>25</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>prostheticSirePercent</key>
            <defaultValue>2</defaultValue>
            <min>0</min>
            <max>25</max>
            <decimals>0</decimals>
          </li>
          <li Class="XmlExtensions.Setting.Slider">
            <key>bionicUpgradePercent</key>
            <defaultValue>20</defaultValue>
            <min>0</min>
            <max>100</max>
            <decimals>0</decimals>
          </li>
        </rightCol>
      </li>
      <li Class="XmlExtensions.Setting.GapLine" />
      <li Class="XmlExtensions.Setting.Text">
        <text>Surgery System Options</text>
        <anchor>Middle</anchor>
        <font>Medium</font>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>enableOrganTransplants</key>
        <label>Enable organ transplant system</label>
        <defaultValue>true</defaultValue>
        <tooltip>Allows extraction and transplantation of reproductive organs between pawns.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.Checkbox">
        <key>enableProsthetics</key>
        <label>Enable reproductive prosthetics</label>
        <defaultValue>true</defaultValue>
        <tooltip>Allows crafting and installation of basic and advanced reproductive prosthetics.</tooltip>
      </li>
      <li Class="XmlExtensions.Setting.ResetSettings" />
    </settings>
  </XmlExtensions.SettingsMenuDef>
</Defs>
